{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

{% if webapp %}
<h1>{% translate "Sign In to start: " %}{{ webapp.name }}</h1>
<div class="d-flex flex-column" style="margin-top: 0px;">
  <div class="d-flex justify-content-between border mb-3 bg-body-tertiary">
    <div class="d-flex justify-content-between">
      <div class="d-flex m-3">
        <div class="d-flex pe-3 d-none d-sm-inline">
          <img src="/static{{ webapp.icon.url }}" alt="app logo" width="100" height="100">
        </div>
        <div class="d-flex flex-column">
          <img class="d-flex d-sm-none" src="static{{ webapp.icon.url }}" alt="app logo" width="100" height="100">
          <div>
              <h5><strong>{{ webapp.name }}</strong></h5>
          </div>
          <div>
              {{ webapp.description }}
          </div>
          <div class="pt-3">
              <h6 class="text-break"><a target="_blank" href={{webapp.url}}>{{ webapp.url }}</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<h1>{% translate "Sign In" %}</h1>
{% endif %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <p>
    {% translate "Please sign in with one of your existing third party accounts:" %}
  </p>

  <div class="socialaccount_ballot">
    <div class="d-grid d-lg-block">
      <a class="btn btn-secondary mb-2" role="button" href="/accounts/google/login/?process=login">
        <span class="fa-brands fa-google"></span> {% blocktranslate with provider="Google" %}Sign in with {{ provider }}{% endblocktranslate %}
      </a>
      <a class="btn btn-secondary mb-2" role="button" href="/accounts/openid_connect/login/?process=login">
        <span class="fa-brands fa-linkedin"></span> {% blocktranslate with provider="LinkedIn" %}Sign in with {{ provider }}{% endblocktranslate %}
      </a>
      <a class="btn btn-secondary mb-2" role="button" href="/accounts/github/login/?process=login">
        <span class="fa-brands fa-github"></span> {% blocktranslate with provider="GitHub" %}Sign in with {{ provider }}{% endblocktranslate %}
      </a>
      <a class="btn btn-secondary mb-2" role="button" href="/accounts/gitlab/login/?process=login">
        <span class="fa-brands fa-gitlab"></span> {% blocktranslate with provider="GitLab" %}Sign in with {{ provider }}{% endblocktranslate %}
      </a>
    </div>

    <div class="login-or mt-2 mb-3">
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      {% blocktranslate trimmed %}
        or using your {{ site_name }} account below (no account yet? <a href="{{ signup_url }}">sign up first</a>):
      {% endblocktranslate %}
    {% endif %}
    </div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  {% if ACCOUNT_ALLOW_REGISTRATION %}
    <p>
      {% blocktranslate trimmed %}
        If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
      {% endblocktranslate %}
    </p>
  {% endif %}
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-primary" type="submit">{% translate "Sign In" %}</button>
</form>

{% endblock %}
