{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ site_name }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manages multi-instance apps hosted on a Kubernetes cluster">
    <meta name="author" content="simevo s.r.l.">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/css/brands.min.css">
    <link rel="stylesheet" href="/static/css/solid.min.css">
    <link rel="stylesheet" href="/static/css/project.css">

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="{% static 'js/bootstrap.min.js' %}" referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

      <!-- hook for pages to insert the additional Javascript they need -->
      {% block page_specific_js %}
      {% endblock %}
    {% endblock javascript %}

  </head>

  <body >
    <div style="min-height: 100vh; display: grid; grid-template-rows: auto 1fr auto;">
      <div class="mb-1">
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #2f7878;">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}" title="Juggler">
              <img src="{% static 'images/juggler.svg' %}" alt="juggler.svg" width="30" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
              <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">{{ site_name }} <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">{% translate "About" %}</a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'reports' %}" title="Usage reports">
                    Reports
                    <span title="{% translate 'this feature is reserved for you' %}" class="fa fa-lock"></span>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/admin" title="Django Administration">
                    Admin
                    <span title="{% translate 'this feature is reserved for you' %}" class="fa fa-lock"></span>
                  </a>
                </li>
                {% endif %}
              </ul>
              <div class="navbar-nav">
                {% if request.user.is_authenticated %}
                  <div class="d-flex flex-column">
                    <div class="nav-item d-flex justify-content-end">
                      {# URL provided by django-allauth/account/urls.py #}
                      <div class="nav-link" style="padding: 0; color: #9ebdbd;">{% translate "Welcome" %}, <a href="{% url 'users:detail' request.user.username  %}" style="color: #dddddd;">{{ request.user.username }}</a></div>
                    </div>
                    <div class="nav-item d-flex justify-content-end">
                      {# URL provided by django-allauth/account/urls.py #}
                      <div class="nav-link" style="padding: 0; color: #9ebdbd;"><!-- Technical, Polisim, Deployers | --><a href="{% url 'account_logout' %}" style="color: #dddddd;">{% translate "Logout" %}</a></div>
                    </div>
                  </div>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <div class="nav-item d-flex justify-content-end">
                      {# URL provided by django-allauth/account/urls.py #}
                      <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                    </div>
                  {% endif %}
                  <div class="nav-item d-flex justify-content-end">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </div>

    <div class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->
    <footer class="text-center text-lg-start" style="bottom: 0; width: 100%;">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #246061;">
        Juggler {{ version }} - Copyright @ 2022-2024 simevo s.r.l.
      </div>
      <!-- Copyright -->
    </footer>
    </div>

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}

  </body>
</html>
