{% load json %}

{% with dict=data|loads %}{% with index=dict|get_item:'index' %}{% with columns=dict|get_item:'columns' %}

<table class="table table-striped table-bordered border-secondary">
  <thead>
    <tr class="user-select-none">
      {% for col in columns %}
      {% with variable=col|get_item:'variable' %}{% with label=col|get_item:'label' %}
        <th scope="col" @click="sort('{{ variable }}', {{ index }})">
          {{ label }}
          <template x-if="sortCol[{{ index }}] === '{{ variable }}'">
            <span>
              <span x-show="sortAsc[{{ index }}]">^</span>
              <span x-show="!sortAsc[{{ index }}]">v</span>
            </span>
          </template>
        </th>
      {% endwith %}{% endwith %}
      {% endfor %}
      </tr>
  </thead>
  <tbody>
    <template x-for="item in reports[{{ index }}]" :key="item.pk">
      <tr>
        {% for col in columns %}
        {% with display=col|get_item:'display' %}
          <td x-text="{{ display }}"></td>
        {% endwith %}
        {% endfor %}
      </tr>
    </template>
  </tbody>
</table>

{% endwith %}{% endwith %}{% endwith %}
