{% load i18n %}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="d-flex pe-3 d-none d-sm-inline"><img src="static{{ item.icon.url }}" alt="app logo" width="100" height="100"></div>
                <div class="d-flex flex-column">
                    <img class="d-flex d-sm-none" src="static{{ item.icon.url }}" alt="app logo" width="100" height="100">
                    <div><h5><strong>{{ item.name }}</strong></h5></div>
                    <div>{{ item.description }}</div>
                    <div class="pt-3"><h6 class="text-break"><a target="_blank" href={{item.url}}>{{ item.url }}</a></h6></div>
                </div>
            </div>
            {% if not item.public_boolean %}
            <span title="{% translate 'this app is reserved for you' %}" class="fa fa-lock" style="position: absolute; right: 1.5em"></span>
            {% endif %}
            <div class="d-flex align-items-end">
                <form action="{% url 'start_view' item.id %}" method="get" class="mt-auto">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-lg" value="{% translate 'Deploy' %}" name="mybtn">
                </form>
            </div>
        </div>
    </div>
</div>
