{% extends "base.html" %}

{% load static i18n %}

{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2 mb-5">
    <h1>{% blocktranslate %}About {{ site_name }}{% endblocktranslate %}</h1>
    <p>
      {% blocktranslate trimmed %}
        {{ site_name }} is the gatekeeper to controlled access web applications. It is based on the open source <a href="https://gitlab.com/simevo/juggler" target="_blank">Juggler project</a>.
      {% endblocktranslate %}
    </p>
    <h3>{% translate "How it works" %}</h3>
    <p>
      {% blocktranslate trimmed %}
        When you sign in to {{ site_name }} you are shown the list of web applications that you  have deployed; this list is initially empty:<br/>
      {% endblocktranslate %}
    </p>
    <p>
      <img class="img-fluid" alt="screen-shot of Juggler showing an empty list of deployed apps" src="{% static 'images/juggler1.png' %}">
    </p>
    <p>
      {% blocktranslate trimmed %}
        Clicking on the “<i>Deploy a new app</i>” button opens a modal window with the list of web applications that you can deploy (some apps may be reserved, these are marked with the lock icon):
      {% endblocktranslate %}
    </p>
    <p>
      <img class="img-fluid" alt="screen-shot of Juggler showing the available apps that can be deployed" src="{% static 'images/juggler2.png' %}">
    </p>
    <p>
      {% blocktranslate trimmed %}
        If you click “<i>Deploy</i>” for one of these apps, {{ site_name }} starts showing a spinner and does some preparation in the background as the app is started in a Kubernetes cluster (this should take less than one minute, please be patient!):
      {% endblocktranslate %}
    </p>
    <p>
      <img class="img-fluid" alt="screen-shot of Juggler showing an app being deployed with rotating spinner icon" src="{% static 'images/juggler3.png' %}">
    </p>
    <p>
      {% blocktranslate trimmed %}
        After a while, the spinner disappears and the browser changes location to something like <code>https://saas.example.com/47edfce2-e838-46cd-8bbf-81a01e49457c</code> (example address), where you can use your own reserved instance of the chosen app. If the app allows it, you can also freely share links to your instance with your colleagues.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
        Now if you get back to the {{ site_name }} home page, the new app is shown in the list of deployed web applications, and can be reopened at will:
      {% endblocktranslate %}
    </p>
    <p>
      <img class="img-fluid" alt="screen-shot of Juggler showing the list of deployed apps" src="{% static 'images/juggler4.png' %}"><br/>
    </p>
    <p>
      {% blocktranslate trimmed %}
        Each user can deploy several apps and even multiple instances of the same app; each user gets an independent instance of each app she deploys (”<i>multi-instance Software-as-a-Service</i>”).
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
        The deployed apps will be available for a predefined amount of time, after that they will be automatically deleted. If you try to open a deployed app after that, the link will return “<i>502 Bad Gateway</i>”. Luckily you can start from scratch and deploy a new one!
      {% endblocktranslate %}
    </p>
  </div>
</div>
{% endblock %}
