{% extends "base.html" %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="d-flex flex-column" style="margin-top: 50px;">
                {% if instance_list %}
                <h1>{% translate "Your deployed apps:" %}</h1>
                {% else %}
                <p>{% translate "You currently have no deployed apps." %}</p>
                {% endif %}
                <div id="instance_list">
                    {% for item in instance_list %}
                        <a class="text-decoration-none text-reset" href="/{{item.id}}/">
                            <div class="card mt-2">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="pe-3"><img src="static{{ item.webapp.icon.url }}" alt="app logo" width="100" height="100"></div>
                                        <div class="flex-column">
                                            <div><h5><strong>{{ item.webapp.name }}</strong></h5></div>
                                            <div>{{ item.webapp.description }}</div>
                                        </div>
                                        {% if not item.webapp.public_boolean %}
                                        <span title="this app instance is reserved for you" class="fa fa-lock" style="position: absolute; right: 1.5em"></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex">
                <button class="btn mb-5" data-bs-toggle="modal" data-bs-target="#myModal" style="margin-top: 20px; background-color: #2f7878; width: 180px; color: white"><i class="fa fa-plus" style="color: black;"></i>
                    {% translate "Deploy a new app" %}
                </button>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% translate "Deploy a new app" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="d-flex flex-column" style="margin-top: 0px;">
                                    {% for item in reserved_app_list %}
                                        {% include "snippets/webapp.html" %}
                                    {% endfor %}
                                    {% for item in public_app_list %}
                                        {% include "snippets/webapp.html" %}
                                    {% endfor %}
                                    {% if not reserved_app_list and not public_app_list %}
                                        <p>{% translate "There are no apps available for deployment." %}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            window.addEventListener( "pageshow", function ( event ) {
                var historyTraversal = event.persisted ||
                                        ( typeof window.performance != "undefined" &&
                                            window.performance.navigation.type === 2 );
                if ( historyTraversal ) {
                    // Handle page restore.
                    window.location.reload();
                }
            });
        </script>
    {% else %}

        <div class="container">
            <div class="d-flex flex-column mt-5">
                <h1>{% translate "Welcome to" %} {{ site_name }}</h1>
                <div>{% blocktranslate %}Please <a href="/accounts/login/">log in</a> to deploy our apps, such as:{% endblocktranslate %}</div>
            </div>
            {% if not request.user.is_authenticated %}
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column" style="margin-top: 0px;">
                        {% for item in public_app_list %}
                        <div class="d-flex justify-content-between">
                            <div class="d-flex m-3">
                                <div class="d-flex pe-3 d-none d-sm-inline">
                                    <img src="static{{ item.icon.url }}" alt="app logo" width="100" height="100">
                                </div>
                                <div class="d-flex flex-column">
                                    <img class="d-flex d-sm-none" src="static{{ item.icon.url }}" alt="app logo" width="100" height="100">
                                    <div>
                                        <h5><strong>{{ item.name }}</strong></h5>
                                    </div>
                                    <div>
                                        {{ item.description }}
                                    </div>
                                    <div class="pt-3">
                                        <h6 class="text-break"><a target="_blank" href={{item.url}}>{{ item.url }}</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    {% endif %}

{% endblock %}
