{% extends "base.html" %}

{% load static %}

{% block page_specific_js %}
  <script defer src="{% static 'js/alpine.js' %}"></script>
{% endblock %}

{% block content %}
{{ users | json_script:"users" }}
{{ groups | json_script:"groups" }}
{{ webapps | json_script:"webapps" }}
{{ reports_userapps | json_script:"reports-userapps" }}
{{ reports_liveapps | json_script:"reports-liveapps" }}
{{ reports_groupapps |json_script:"reports-groupapps" }}

<div class="row">
  <div class="col mb-5">
    <h1>Reports</h1>
    <hr>
    <ul x-data="reports">
      <li>list who started how many dead webapps and how long they were alive
        {% include "snippets/table.html" with data='{"index": 0, "columns": [{"label": "Webapp", "variable": "webapp", "display": "webapps[item.fields.webapp].name"}, {"label": "User", "variable": "user", "display": "users[item.fields.user].username"}, {"label": "Count", "variable": "count", "display": "item.fields.count"}, {"label": "Total lifetime (hours)", "variable": "total_lifetime", "display": "item.fields.total_lifetime"}]}' %}
      </li>
      <li>list live (non-DEAD status) webapps, their age and who started them
        {% include "snippets/table.html" with data='{"index": 1, "columns": [{ "label": "Webapp", "variable": "webapp", "display": "webapps[item.fields.webapp].name" }, { "label": "User", "variable": "user", "display": "users[item.fields.user].username" }, { "label": "Status", "variable": "status", "display": "item.fields.status" }, { "label": "Age (hours)", "variable": "age", "display": "item.fields.age" }] }' %}
      </li>
      <li>list which group started how many dead webapps and how long they were alive
        {% include "snippets/table.html" with data='{ "index": 2, "columns": [{ "label": "Webapp", "variable": "webapp", "display": "webapps[item.fields.webapp].name" }, { "label": "Group", "variable": "group", "display": "groups[item.fields.group].name" }, { "label": "Count", "variable": "count", "display": "item.fields.count" }, { "label": "Total lifetime (hours)", "variable": "total_lifetime", "display": "item.fields.total_lifetime" }] }' %}
      </li>
    </ul>
  </div>
</div>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('reports', () => ({
      open: false,
      sortCol: [null, null, null],
      sortAsc: [false, false, false],
      sort(col, index) {
        if(this.sortCol[index] === col) this.sortAsc[index] = !this.sortAsc[index]
        this.sortCol[index] = col
        this.reports[index].sort((a, b) => {
          if(a.fields[this.sortCol[index]] < b.fields[this.sortCol[index]]) return this.sortAsc[index]?1:-1
          if(a.fields[this.sortCol[index]] > b.fields[this.sortCol[index]]) return this.sortAsc[index]?-1:1
          return 0
        })
      },
      users: JSON.parse(document.getElementById('users').textContent),
      groups: JSON.parse(document.getElementById('groups').textContent),
      webapps: JSON.parse(document.getElementById('webapps').textContent),
      reports: [
        JSON.parse(document.getElementById('reports-userapps').textContent),
        JSON.parse(document.getElementById('reports-liveapps').textContent),
        JSON.parse(document.getElementById('reports-groupapps').textContent)
      ],
      toggle() {
          this.open = ! this.open
      }
    }))
  })
</script>
{% endblock %}
