{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% if request.user.is_authenticated %}

        <h5>Restoring the app instance</h5>
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Restoring...</span>
        </div>
        <script>
            const waittime = setInterval(function(){
                fetch("{{url}}", {cache: "no-store"})
                    .then(resp => {
                        if (resp.status==200){
                            clearInterval(waittime)
                            window.location.replace('{{url}}')
                            return;
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })}, 1000)
        </script>

    {% endif %}

{% endblock %}
