{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% if request.user.is_authenticated %}

        <div class="row">
          <div class="col-md-6 offset-md-3">

              <h1>{% blocktranslate %}Deploying the {{ webapp_name }} app instance{% endblocktranslate %}</h1>
              <div class="spinner-border text-info" role="status">
                  <span class="visually-hidden">Loading...</span>
              </div>
              <div>
                  <p>{% translate "The app should start in less than one minute. Please be patient!" %}</p>
              </div>
              <script>
                  var details = {
                      'client_id': '{{client_id}}',
                      'client_secret': '{{client_secret}}',
                      'grant_type': 'authorization_code',
                      'code': '{{code}}',
                      'redirect_uri': '{{url}}',
                  };

                  var formBody = [];
                  for (var property in details) {
                      var encodedKey = encodeURIComponent(property);
                      var encodedValue = encodeURIComponent(details[property]);
                      formBody.push(encodedKey + "=" + encodedValue);
                  }
                  formBody = formBody.join("&");

                  fetch('/o/token/', {
                      method: 'POST',
                      headers: {
                          'Cache-Control': 'no-cache',
                          'Content-Type': 'application/x-www-form-urlencoded',
                      },
                      body: formBody
                  })
                  .then(response => response.text())
                  .then(data => {
                      console.log(JSON.parse(data).id_token);
                      document.cookie = "juggler_token=" + JSON.parse(data).id_token + "; path=/{{app_id}}/" + "; SameSite=Strict";
                      const waittime = setInterval(function(){
                          fetch("{{url}}")
                              .then(resp => {
                                  if (resp.status==200){
                                      resp.text().then(function(text) {
                                          // console.log("App is ready, resp = " + text + ", timestamp = " + Date.now())
                                          clearInterval(waittime)
                                          setTimeout(function(){
                                              // console.log("Now redirecting to {{url}}, timestamp = " + Date.now())
                                              window.location.replace('{{url}}')
                                              return;
                                          }, 5000)
                                          return;
                                      })
                                  }
                              })
                              .catch(err => {
                                  console.log(err)
                              })}, 1000)
                    });
              </script>

          </div>
        </div>

    {% endif %}

{% endblock %}
